{% extends 'base.html.twig' %}
{% block body %}
    <div class="test">
        <h1 class="text-color-class">Stocks Application</h1>
        <br>
        <div style="margin: 20px 0 35px 0;" class="">
            <img src="{{ asset('images/file-upload.png') }}" alt="icon!" style="width:40px;"/>
            <span style="font-weight: 500;">Upload Stock data csv :</span> &nbsp; &nbsp; &nbsp;
            <input type="file" class="form-control-sm" style="width:235px;">
            <button id="uploadcsv" class="btn btn-primary" type="submit" data-url="{{ app.request.getSchemeAndHttpHost() }}">Submit</button>
        </div>
        <hr>
        <div class="emdiv">
            <img src="{{ asset('images/enter.png') }}" alt="icon!" style="width: 31px;margin-left: 5px;margin-right: 6px;"/>
            Enter details
        </div>
        <div class="horizontal_form">
            <div class="hfi">
                <form autocomplete="off">
                    <label class="form-label" for="stockName">Stock name:</label><br>
                    <div class="autocomplete">
                        <input class="form-control" type="text" id="stockName" data-stocknames={{ names }} name="stockName">
                    </div>
                </form>
            </div>
            <div class="hfi">
                <label class="form-label" for="startDate">Start date:</label>
                <input class="form-control" type="date" id="startDate" name="startDate">
            </div>
            <div class="hfi">
                <label class="form-label" for="endDate">End date:</label>
                <input class="form-control" type="date" id="endDate" name="endDate">
            </div>
            <div class="hfi">
                <label class="form-label" for="quantity">Quantity Of Stocks:</label>
                <input class="form-control" type="number" id="quantity" name="quantity" value=200>
                <small>(Default 200)</small>
            </div>
            <button id="getstats" style="margin-top:30px" class="btn btn-primary">Submit</button>
        </div>
        <div id="help">

        </div>
        <hr>
        <div style="margin-top:50px; max-width:1200px;">
            <h3 class="text-color-class">
                <img src="{{ asset('images/analytics.png') }}" alt="icon!" style="width: 31px;margin-left: 5px;margin-right: 6px;"/>
                Statistics
            </h3>
            <div id="statsFor"></div>
            <div id="noStats"></div>
            
            <div id="stats">
                <div id='txn2'>
                
                </div>
                <div class="table-responsive-md" id="stats-sec" style="" data-toggletable=1>
                    <table class="table table-bordered table-sm center">
                        <thead >
                            <tr style="font-size:15px;">
                                <th scope="col" rowspan="2">Transaction Number</th>
                                <th scope="col" colspan="2">Buy</th>
                                <th scope="col" colspan="2">Sell</th>
                                <th scope="col" rowspan="2">Profit per stock</th>
                                <th scope="col" rowspan="2">Profit <small id="stocksele"></small></th>
                            </tr>
                            <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                            <th scope="col">Price</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="loader">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
   
    <script src="{{ asset('bundles/homepage.js') }}"></script>
    <style>
        .emdiv{
            font-size: 16px; 
            margin-top:50px;
            font-weight: 500;
        }
        #help{
            color: red;
        }
        .test{
            padding: 20px 40px;
        }
        .horizontal_form{
            display:flex;
            margin: 25px 0 10px 0;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .hfi{
            margin-right: 20px; 
            margin-bottom: 15px;
        }
        #loader{
            position:fixed;
            padding:0;
            margin:0;

            top:0;
            left:0;

            width: 100%;
            height: 100%;
            background:rgba(255,255,255,0.5);
            opacity: 0.8;    
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        #noStats{
            color:red;
        }

        .lds-ring {
            display: block;
            width: 80px;
            height: 80px;
            position: absolute;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid #fff;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #000 transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        #txn2{
            display: flex;
            align-items: center;
            flex-wrap:wrap;
            margin-bottom: 10px;
        }
        #totalProfitEle{
            background: #80808078;
            color: black;
        }
        .text-color-class{
            color: #003285;
        }
        #statsFor{
            margin: 30px 0 20px 0;
            font-size: 16px;
            font-weight: 500;
        }
        .tr1{
            background:#6ead6e6b;
        }

        .tr2{
            background:#b8b8ff87;
        }
        table{
            overflow-y: auto;
            white-space: nowrap;
            flex: 1 1 auto;
            border-color:#afafaf !important;
        }
        .autocomplete {
            position: relative;
            display: inline-block;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
        }
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
        body{
                background: #8080802e;
        }
        #stats-sec{
            max-width:1200px;
            display: flex;
        }
        .center{
            text-align: center;
        }
        .table2{
            display:none;
        }
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 28px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #6ead6e6b; 
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color:#b8b8ff87;/*#2196F3 */
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
{% endblock %}

